*{
	margin: 0 auto 0 auto;
	text-align:left;
}

body {
	margin:0;
	padding:0;
	text-align:left;
	font-size:13px;
	font-family:arial, helvetica, sens-serif;
	color:black;
}

label{
	display:inline-block;
	width:150px;
}

a{
	text-decoration:none;
}

#container{
	width:100%;
	overflow:auto;
}

header{
	width:100%;
	height:85px;
	margin:0;
}

header h1{
	float:left;
	font-size:43px;
	padding:20px 0 0 20px;
}

header h2{
	float:right;
	padding:40px 20px 0 0;
}

nav{
	display:block;
	float:left;
	clear:both;
	width:100%;
	height:54px;
	background-color:black;
	padding:0;
	margin:0;
}

nav ul{
	list-style:none;
	padding:0;
	padding-top:20px;
	margin-left:auto;
	width:960px;
}

nav li{
	list-style:none;
	padding:0;
	display:inline;
}

nav li a, nave li a:visited{
	float:left;
	color:white;
	text-decoration:none;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	padding: 0 15px 0 15px;
}

section{
	display:block;
	width:680px;
	margin-top:15px;
	float:left;
	background:white;
	border-radius:10px;
	border:6px solid #black;
	padding:16px;
}

footer{
	width:100%;
	background:#000;
	color:white;
	height:30px;
	text-align:center;
	margin-top:20px;
	padding-top:15px;
}