@import url("./bootstrap.min.css");
@import url("./bootstrap-theme.css");
@import url("./bootstrap.min.css");
@import url("./bootstrap.min.css");

*{
	margin: 0 auto 0 auto;
	text-align:left;
}

.active {
	font-weight: bold;
}

h2 {
	font-size: 25px;
}

body {
	text-align:left;
	font-size:13px;
	font-family:arial, helvetica, sens-serif;
	color:black;
}

.page { 
	margin-right: 50px;
	margin-left: 50px;
}

.header{
	font-size: 30px;
}

a{
	text-decoration:none;
}

.navbar{
	padding-left: 30px;
	padding-right: 30px;
	border-bottom: solid grey;
}

#container{
	width:100%;
	overflow:auto;
}

nav{
	display:block;
	float:left;
	clear:both;
	width:100%;
	height:54px;
	background-color:black;
	padding:0;
	margin:0;
}

nav ul{
	list-style:none;
	padding:0;
	padding-top:20px;
	margin-left:auto;
	width:960px;
}

nav li{
	list-style:none;
	padding:0;
	display:inline;
}

nav li a, nave li a:visited{
	float:left;
	color:white;
	text-decoration:none;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	padding: 0 15px 0 15px;
}

.ui-block {
	display: inline-block;
}

.ui-float-right {
	float: right;
}