<div class="page">
  <p class="about-content ui-block">
    I am a software engineer who is looking to improve the world through the use of software.<br>
    I like to constantly learn new things and am currently focusing on web and mobile.<br>
    In my spare time I like to draw (<span><a href="http://jmavis.deviantart.com/">http://jmavis.deviantart.com/</a></span>), watch anime, play games and code.<br>
    My github account can be found here <span><a href="https://github.com/jmavis">https://github.com/jmavis</a>.</span><br>
    For some coding challenges I do check out here <span><a href="https://www.codeeval.com/public/c84244c65b7b4cd905b5f005f9762612dcf91e61/">CodeEval</a>.</span><br>
  </p>
</div>
{{outlet}}
