<nav class="navbar navbar-default">
  <div class="container">
      <ul class="navbar-header nav nav-pills" role="tablist">
        <li id="Home" class="menuItem">{{#link-to 'home'}}Home{{/link-to}}</li>
        <li id="Resume" class="menuItem">{{#link-to 'resume'}}Resume{{/link-to}}</li>
        <li id="About" class="menuItem">{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
      <div class="navbar-btn navbar-right" target="_blank" href="https://www.linkedin.com/pub/jared-mavis/46/57b/709">
        <a class="btn btn-lg btn-social-icon btn-linkedin">
          <span class="fa fa-linkedin"></span>
        </a>
        <a class="btn btn-lg btn-social-icon btn-github" target="_blank" href="http://github.com/jmavis">
          <span class="fa fa-github"></span>
        </a>
      </div>
  </div>
</nav>
{{outlet}}
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <span>
          JaredMavis.com
        </span>
      </div>
      <div class="col-lg-4">
        	<span>Contact me at:</span>
        	<img src="assets/images/EmailPic.png" alt="JaredMavis [at] Outlook dot com">
      </div>
      <div class="col-lg-4">
        <span>
          Last Updated on 1/7/2017
        </span>
      </div>
    </div>
  </div>
</nav>
