<div class="navbar">
  <header>
    <h1>Jared Mavis</h1>
  </header>
  <ul class="nav nav-pills ui-block" role="tablist">
      <li id="Home" class="menuItem">{{#link-to 'home'}}Home{{/link-to}}</li>
    <li id="Resume" class="menuItem">{{#link-to 'resume'}}Resume{{/link-to}}</li>
    <li id="About" class="menuItem">{{#link-to 'about'}}About{{/link-to}}</li>
    <li id="Contact" class="menuItem">{{#link-to 'contact'}}Contact{{/link-to}}</li>
  </ul>
  <a class="btn btn-default navbar-btn navbar-right" target="_blank" href="http://github.com/jmavis">GitHub</a>
  <a class="btn btn-default navbar-btn navbar-right" target="_blank" href="https://www.linkedin.com/pub/jared-mavis/46/57b/709">LinkedIn</a>
</div>
{{outlet}}
